<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%- include('../partials/head'); %>

  </head>
  <body>
    <%- include('../partials/navbar'); %>
      <h2 id="my-groups">My Groups</h2>
      <ul id="all-groups">
        <%groupsJoi.forEach(function(thing){ %>
          <li>
            <div>
              <span><%=thing.name%></span>
            <!-- <a href="/groups/<%=thing.group_id%>/">Group Deets</a> -->
              <form action="/groups/<%= thing.group_id %>?_method=DELETE" method="POST">
              <button type="submit" value="Delete Group">Delete Group</button>
            </form>
          </div>
        </li>
      <%})%>
  </ul>

  </body>
</html>
