<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%- include('../partials/head'); %>

  </head>
  <body>
    <%- include('../partials/navbar'); %>
      <h1>These are your your groups</h1>
      <ul>
        <%groupsJoi.forEach(function(thing){ %>
          <li>

              <%=thing.name%>
              <!-- <a href="/groups/<%=thing.group_id%>/">Group Deets</a> -->
              <form action="/groups/<%= thing.group_id %>?_method=DELETE" method="POST">
                <button type="submit" value="Delete Group">Delete Group</button>
              </form>
          </li>
      <%})%>
  </ul>

  </body>
</html>
