<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="style/map.css" type="text/css" rel="stylesheet" />
    <link href="style/step1.css" type="text/css" rel="stylesheet" />
    <link href="style/step2.css" type="text/css" rel="stylesheet" />
    <link href="style/step3.css" type="text/css" rel="stylesheet" />
    <title>Home | Midpoint</title>
    <!-- this is the jquery ui cdn i used to make the autocomplete -->
    <!-- all the other scripts are at the bottom now. it fixed the load order.
    i'm sure there's a better way but i just went with it so SCROLL DOWN FOR THAT! -->
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
    crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <!--
    <div>
      <% if (locals.currentUser) { %>
        <h1><%=currentUser.email%></h1>
        <form action="/auth/logout" method="GET">
          <input type="submit" value="Logout">
        </form>
        <form action="/users/<%=currentUser.id%>" method="GET">
          <input type="submit" value="Dashboard">
        </form>
      <% } %>
    </div>
  -->
    <div id="map"></div>
    <%- include('../partials/steps', {currentStep: 1}); %>
    <%- include('../partials/step1', {groups: groups}); %>
    <%- include('../partials/step2'); %>
    <%- include('../partials/step3'); %>
    <%- include('../partials/footer'); %>
    <script src="math.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
    <script src="script/step1.js"></script>
    <script src="script/step2.js"></script>
    <script src="script/step3.js"></script>
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&libraries=places&callback=initMap"></script>
</body>
</html>
