<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="style/step1.css" type="text/css" rel="stylesheet" />
    <script src="math.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
    <script src="script/step1.js" charset="utf-8"></script>
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&libraries=places&callback=initMap"></script>
    <title>Home | Midpoint</title>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <!--
    <div>
      <% if (locals.currentUser) { %>
        <h1><%=currentUser.email%></h1>
        <form action="/auth/logout" method="GET">
          <input type="submit" value="Logout">
        </form>
        <form action="/users/<%=currentUser.id%>" method="GET">
          <input type="submit" value="Dashboard">
        </form>
      <% } %>
    </div>
  -->
    <div id="map"></div>
    <%- include('../partials/steps', {currentStep: 1}); %>
    <h1 class="dialog">Who's Joining?</h1>
    <h2 class="dialog">Create a group - and meet in the middle!</h2>
    <div class="blue">
      <div class="blue-content">
        <form id="controls" class="box" method="GET">
          <h4>select a group</h4>
          <%# <input id="group-id" type="text" name="type" placeholder="Group Name">
          <button id="add-group" type="submit">Load Group</button>%>
          <a href="#" id="group-selector">My Groups</a>
          <div id="group-menu">
            <ul>
              <li><a class="selected" href="#">My Groups</a></li>
              <% groups.map((group)=>{ %>
                <li><a href="#"><%= group.name %> </a></li>
              <% }) %>
            </ul>
          </div>
        </form>
        <form id="build" class="box" method="GET">
          <h4>build a group</h4>
          <input id="user-id" type="text" name="type" placeholder="Username">
          <button id="add-user" type="submit">Add User</button>
          <button id="remove-user" type="button">Remove User</button>
        </form>
        <div id="people" class="box">
          <h4><span id="people-count">5</span> people added</h4>
          <a href="#" id="people-save">+ Save as a New Group</a>
        </div>

        <%# <form>
          <input id="search-box" type="text" placeholder="Search Box">
        </form>%>
        <form id="group-save" class="box" method="POST">
          <h4>save new group as </h4>
          <input id="group-name" type="text" placeholder="Group Name">
          <button id="save-group" class="submit">Create New Group</button>
        </form>
      </div>
    </div>
</body>
</html>
