<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="math.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&libraries=places&callback=initMap"></script>
    <title>Home | Midpoint</title>
</head>
<body>
    <%# TODO: replace static user id and 'test@test.com' with real user email %>
    <%- include('../partials/navbar', {userId: 1, userEmail: 'test@test.com'}); %>
    <div>
      <% if (locals.currentUser) { %>
        <h1><%=currentUser.email%></h1>
        <form action="/auth/logout" method="GET">
          <input type="submit" value="Logout">
        </form>
        <form action="/users/<%=currentUser.id%>" method="GET">
          <input type="submit" value="Dashboard">
        </form>
      <% } %>
    </div>
    <div id="map"></div>
    <%- include('../partials/steps', {currentStep: 1}); %>
    <form id="controls" method="GET">
      <input id="group-id" type="number" name="type" placeholder="Group Number">
      <input id="add-group" type="submit" value="Load Group">
    </form>
    <form method="GET">
      <input id="user-id" type="text" name="type" placeholder="Username">
      <input id="add-user" type="submit" value="Load User">
      <input id="remove-user" type="button" value="Delete User">
    </form>
    <form>
      <input id="search-box" type="text" placeholder="Search Box">
    </form>
    <form method="POST">
      <input id="group-name" type="text" placeholder="Group Name">
      <input id="save-group" type="submit" value="Save Group">
    </form>
</body>
</html>
