<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="math.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&libraries=places&callback=initMap"></script>
    <title>Home | Midpoint</title>
</head>
<body>
    <%# TODO: replace static user id and 'test@test.com' with real user email %>
    <%- include('../partials/navbar', {userId: 1, userEmail: 'test@test.com'}); %>
    <div>
      <% if (locals.currentUser) { %>
        <h1>Current User: <%=currentUser.email%></h1>
        <form action="/auth/logout" method="GET">
          <input type="submit" value="Logout">
        </form>
      <% } %>
    </div>
    <div id="map"></div>
    <form id="controls" method="GET">
      <input id="group-id" type="number" name="type" placeholder="Group Number">
      <input id="add-group" type="submit" value="Add Group">
    </form>
    <form method="GET">
      <input id="user-id" type="text" name="type" placeholder="User ID">
      <input id="add-user" type="submit" value="Add User">
    </form>
    <form method="GET">
      <input id="place-search" type="text" placeholder="Place Type">
      <input id="search-radius" type="number" placeholder="Radius">
      <input id="add-places" type="submit" value="Search">
    </form>
    <%- include('../partials/steps', {currentStep: 1}); %>
</body>
</html>
