<!DOCTYPE>
<html lang="en">
<head>
    <base href="/"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Page</title>
</head>
<body>
  <header>
  </header>
  <div class="content">
    <form action="/users/<%=user.user_id%>?_method=PUT" method="POST">
      <label>First</label>
      <input name="user[first]" type="text" placeholder="<%= user.first %>" />
      <label>Last</label>
      <input name="user[last]" type="text" placeholder="<%= user.last %>" />
      <label>Image</label>
      <input name="user[image]" type="text" placeholder="<%= user.img_url %>"/>
      <label>Email Address</label>
      <input name="user[email]" type="text" placeholder="<%= user.email %>"/>
      <label>this is a thing</label>
      <input type="submit" value="Edit User"/>
    </form>
  </div>
</body>
</html>
