<!DOCTYPE>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Profile Page</title>
</head>
<body>
  <%# TODO: replace static user id and 'test@test.com' with real user email %>
  <%- include('../partials/navbar', {userId: 1, userEmail: 'test@test.com'}); %>
  <section class="content">
    <h1>Edit User Info</h1>
    <form action="/users/<%=user.user_id%>?_method=PUT" method="POST">
      <div class="field">
        <label>First Name:</label>
        <input name="user[first]" type="text" placeholder="<%= user.first %>" />
      </div>
      <div class="field">
        <label>Last Name:</label>
        <input name="user[last]" type="text" placeholder="<%= user.last %>" />
      </div>
      <div class="field">
        <label>User Image:</label>
        <input name="user[image]" type="text" placeholder="<%= user.img_url %>"/>
      </div>
      <div class="field">
        <label>Email Address:</label>
        <input name="user[email]" type="text" placeholder="<%= user.email %>"/>
      </div>
      <div class="field">
        <label>approximate home address:</label>
        <input name="user[address]" type="text" placeholder="<%= user.address %>"/>
      </div>
      <div class="field">
        <button class="submit">Update User Info</button>
      </div>
    </form>
  </section>
</body>
</html>
